:root {
	--white: #fefefe;

	--main-background: #eeeeee;
	--accent-background: #c8ccd4;
	--background: #cfcfcf;
	--button-background: #dadada;
	--gray: #797979;
	--gray-dark: #707070;
	--gray-darkest: #454545;

	--black: #222;
}
