:root {
	--white: #fefefe;

	--main-background: #bbb;
	--accent-background: #aaa;
	--background: #111;
	--button-background: #ffffff;
	--gray: #797979;
	--gray-dark: #707070;
	--gray-darkest: #454545;

	--black: #222;
}
