:root {
	--white: #fefefe;
	--black: #111;

	--main-bg: #e9e9e9;
	--header-bg: #111;
	--accent-bg: #cdcdcd;

	--accent: #5f9fff;
	--accent-hover: #4060c0;

	--button-bg: #fff;
	--button-bg-hover: #ccc;

	--stars-checked: #ffa534;

	--transp: rgba(0, 0, 0, 0.2);
}
