.item-page {
	max-width: 90%;
}
.home-buttons {
	grid-column: 1;
	justify-content: flex-start;
}
.nav-buttons {
	display: flex;
}
.burger-menu,
#burger-button {
	display: none;
}
.search-bar {
	display: flex;
}
.search-bar {
	order: 0;
}
.search-bar > input {
	display: initial;
}
main {
	max-width: 1280px;
}
body > header nav {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}
.profile-page {
	grid-template-columns: 1fr 3fr;
}
.sidebar {
	min-width: 0;
}
.item-catalog {
	justify-content: center;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.footer {
	margin: 0 auto;
	max-width: 1280px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer > * {
	align-items: flex-start;
}
.footer > *:last-child {
	grid-column: span 3;
	text-align: center;
}
.map {
	grid-column: span 1;
}
.hero-img {
	height: 50vh;
}
.item-card img:hover {
	padding: 0.2rem;
	filter: brightness(80%);
}

@media (min-width: 1280px) {
	.profile-page {
		margin-left: auto;
	}
}
