.nav-buttons {
	display: flex;
}
.burger-menu,
#burger-button {
	display: none;
}
.item-catalog {
	grid-template-columns: repeat(4, 1fr);
}
body > footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
