.item-page {
	display: grid;
	margin: auto;
	grid-template-columns: 1fr 2fr;
}
.item-page .artist {
	max-width: 10rem;
}
.item-catalog {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.item-card {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	width: auto;
	max-width: 384px;
}
.item-card div + a {
	width: 100%;
	display: block;
	margin: auto;
	order: 0;
}
.item-card footer {
	flex-direction: row;
}
.item-card img + div {
	display: block;
	margin-left: 0;
}
.item-card div > p {
	display: block;
}
.item-card a {
	order: 0;
}
.item-info {
	margin-left: 0;
}
.overflow {
	width: auto;
	max-width: 100%;
}
.home {
	max-width: 420px;
	height: auto;
}
@media (min-width: 768px) {
	.item-catalog {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
