@import url('normalize.css');
@import url('colors.css');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body {
	background-color: var(--main-bg);
}
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	max-width: 1280px;
	width: 95vw;
	min-height: 100vh;
	margin: 0 auto;
}
body > header {
	position: sticky;
	top: 0;
	height: 5rem;
	color: var(--white);
	background-color: var(--header-bg);
	box-shadow: 0 4px 10px -2px var(--transp);
	padding: 0 1rem;
	z-index: 1;
}
body > header a,
body > footer a {
	color: var(--white);
}
body > header nav {
	height: 100%;
	margin-top: auto;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}
.hero-img {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		no-repeat scroll center 25% / cover url('../img/hero.jpg');
	height: 20vh;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.hero-img h1 {
	color: var(--white);
}
.home {
	min-width: 200px;
	height: auto;
	padding: 0;
}
.home-buttons {
	margin-right: 0;
	grid-column: 2;
}
.search-bar {
	order: -1;
}
.search-bar > input {
	display: none;
}
#search-button {
	border: 0;
	padding: 0;
	cursor: pointer;
	background: none;
}
.nav-buttons {
	display: none;
	align-items: center;
	margin-left: auto;
}
a {
	color: var(--black);
	text-decoration: none;
}
.burger-menu {
	position: sticky;
	top: 5rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.2rem;
	background-color: var(--menu-bg);
}
.burger-menu a {
	padding: 0.1rem 0.5rem;
	color: var(--white);
	text-decoration: none;
}
#burger-button {
	margin: auto 0 auto auto;
}
input[type='search'] {
	appearance: none;
	padding: 0;
	border: 0;
	border-radius: 0;
	background: none;
	border-bottom: 2px solid var(--white);
	padding-bottom: 0.5rem;
	color: var(--white);
}
input[type='search']:focus {
	outline: none;
}
.item-page {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 2rem;
}
.item-page footer {
	grid-column: span 2;
}
.profile-review {
	background-color: var(--accent-bg);
	border-radius: 5px;
	width: 30%;
	padding: 0.5rem;
}
.profile-reviews {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}
.profile-page {
	display: flex;
}
.profile-page > div {
	max-width: 100%;
}
.sidebar {
	display: none;
	min-width: 25vw;
}
.tracklist {
	background: var(--accent-bg);
	max-height: 100%;
	overflow: auto;
	margin: 0 1rem;
}
.tracklist *:not(:last-child) {
	padding: 1rem;
	border-bottom: 1px solid var(--transp);
}
.review-stars {
	max-width: fit-content;
	text-wrap: nowrap;
	padding: 0.2rem 0;
}
.stars {
	height: auto;
	appearance: none;
	border: none;
	mask: no-repeat center/95% url(../img/svg/star.svg);
	background: var(--accent-bg);
}
.stars + label {
	display: none;
}
.stars-checked {
	mask: no-repeat center/95% url(../img/svg/star.svg);
	background: var(--stars-checked);
}
form div {
	text-align: center;
}
.required::after {
	content: ' *';
	color: #f55;
}
form button {
	margin-top: 0.2rem;
}
label {
	display: block;
	margin-top: 1rem;
}
input,
textarea {
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0.3rem;
	resize: none;
	background: var(--button-bg);
}
button,
input[type='submit'] {
	background: none;
	border: none;
	border-radius: 5px;
	text-wrap: nowrap;
	padding: 0.3rem 1.5rem;
	width: fit-content;
	background: var(--button-bg);
	cursor: pointer;
}
button:hover {
	background: var(--button-bg-hover);
}
h1:not(.hero-img h1) {
	margin: 0 auto 1rem;
	padding: 1rem 0 0.5rem;
	max-width: 80%;
	text-align: center;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
a,
p,
h2 {
	padding: 0.2rem 0.5rem;
	text-wrap: break-word;
}
.item-catalog {
	margin: 0 auto;
	max-width: 95vw;
	display: flex;
	gap: 0.2rem;
}
.title {
	color: var(--black);
	font-size: 1.1rem;
}
.overflow {
	display: block;
	width: auto;
	max-width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.artist {
	color: var(--accent);
	text-decoration: none;
}
.artist:hover {
	color: var(--accent-hover);
}
.item-card {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 4fr 1fr;
}
.item-names {
	align-items: flex-start;
	grid-column: span 2;
}
.item-card div + a {
	order: -1;
	width: 8rem;
}
.item-info {
	grid-column: span 2;
	margin-left: auto;
	padding: 0.5rem;
}
.item-card div > span {
	display: none;
}
.item-card a {
	order: 1;
	grid-row: span 2;
}
.item-card footer {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.price + button {
	margin-left: auto;
}
.price::after {
	content: '\20AC';
}
body > footer {
	color: var(--white) !important;
	box-shadow: 0 -4px 10px -2px var(--transp);
	background-color: var(--header-bg);
	padding: 1rem;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer > *:last-child {
	grid-column: span 3;
	text-align: center;
}
.map {
	grid-column: span 3;
}
img:not(.svg) {
	max-width: 100%;
	max-height: 100%;
	min-width: 5rem;
	min-height: auto;
}
.svg {
	width: 1.5rem;
	height: 1.5rem;
}
#login .login,
#register .register {
	display: none;
}
.hidden {
	display: none;
}
