:root {
	--white: #fff;
	--black: #000;

	--main-bg: #fff;
	--header-bg: #111;
	--accent-bg: #cdcdcd;
	--menu-bg: #444;
	--outside-bg: #222;

	--accent: #a7489b;
	--accent-hover: #a7489b;

	--button-bg: #fff;
	--button-bg-hover: #a7489b;

	--search-bg: #eee;

	--stars-checked: #f18f43;
	--stars-hover: #f1b443;
	--stars-bg: #eee;

	--transp: rgba(0, 0, 0, 0.3);
	--extra: #aaa;
}
