main {
	max-width: 75vw;
}
input[type='search'] {
	appearance: none;
	padding: 0;
	border: 0;
	border-radius: var(--bdr-rad);
	background: none;
	color: var(--black);
}
input[type='search']:focus {
	outline: none;
}
h1 {
	font-size: 3rem;
}
body > header nav {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}
.profile-hero {
	background: fixed center/cover var(--gradient);
}
.item-page {
	max-width: 90%;
	display: grid;
	margin: auto;
	grid-template-columns: 2fr 3fr;
}
.home-buttons {
	grid-column: 1;
	justify-content: flex-start;
}
.home {
	background: text no-repeat center/121% linear-gradient(45deg, #ca4246 14%, #e16541 14%, #e16541 28%, #f18f43 28%, #f18f43 42%, #8b9862 42%, #8b9862 56%, #476098 56%, #476098 70%, #a7489b 70%, #a7489b 84%, #111 84%);
	background-position-x: 0px;
	transition: color 350ms, scale 500ms;
}
.home:hover {
	animation: 500ms ease-in-out 1 colorslide;
	color: transparent;
	scale: 105%;
}
@keyframes colorslide {
	from {
		background-position-x: -360px;
	}
	to {
		background-position-x: 0px;
	}
}
.nav-buttons {
	display: flex;
	gap: 0.5rem;
}
.burger-menu,
#burger-button,
#search-mobile {
	display: none;
}
.search-bar {
	display: flex;
	align-items: center;
	/* height: fit-content; */
	gap: 0.5rem;
	padding: 0.1rem;
	order: 0;
	background: var(--search-bg);
	border-radius: var(--bdr-rad);
}
.search-bar > input {
	display: initial;
	vertical-align: middle;
}
.search-bar > img {
	justify-content: flex-start;
	margin: 0 0.5rem;
	padding: 0.2rem;
}
.search-bar > button {
	border-color: 1px solid var(--header-bg);
}
.search-bar > button:hover {
	background: var(--search-bg);
}
.item-catalog {
	justify-content: center;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 1rem;
}
.song {
	scale: 100%;
	transition: scale 150ms;
}
.song:hover + .song,
.song:has(+ .song:hover) {
	scale: 101%;
}
.song:hover {
	scale: 105%;
}
.form {
	width: 100%;
	height: 80vh;
	gap: 1rem;
}
.profile-reviews {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 1rem;
}

.review {
	height: 20rem;
	border: 1px solid var(--transp);
	box-shadow: var(--bx-shadow);
	padding: 1rem;
}
.address {
	width: 8rem;
	word-wrap: none;
	color: var(--extra);
}
.footer {
	margin: 0 auto;
	max-width: 1280px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer > * {
	align-items: flex-start;
}
.footer > *:last-child {
	grid-column: span 3;
	text-align: center;
}
.map {
	grid-column: span 1;
}
.hero-img {
	height: 45vh;
}
.item-card {
	font-size: 0.9rem;
}
.item-card:hover {
	scale: 105%;
}
.svg {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
}
/* .item-card:hover img {
	filter: brightness(80%);
} */

@media (min-width: 1280px) {
	main {
		max-width: 1280px;
	}
	.profile-page {
		margin-left: auto;
	}
}
