.item-page {
	max-width: 90%;
}
.home-buttons {
	grid-column: 1;
	justify-content: flex-start;
}
.nav-buttons {
	display: flex;
	gap: 1rem;
}
.burger-menu,
#burger-button {
	display: none;
}
.search-bar {
	display: flex;
}
.search-bar {
	order: 0;
}
.search-bar > input {
	display: initial;
}
h1 {
	font-size: 3rem;
}
main {
	max-width: 1024px;
}
body > header nav {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}
.item-catalog {
	justify-content: center;
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.form {
	width: 100%;
	height: 80vh;
	gap: 1rem;
}
.profile-reviews {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	align-items: center;
	gap: 1rem;
}
.review {
	height: 20rem;
	border: 1px solid var(--black);
	padding: 1rem;
}
.profile-tab {
	justify-content: start;
}
.profile-tab * {
	width: 80%;
	gap: 2rem;
	text-align: start;
}
.address {
	width: 8rem;
	word-wrap: none;
	color: var(--extra);
}
.footer {
	margin: 0 auto;
	max-width: 1280px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.footer > * {
	align-items: flex-start;
}
.footer > *:last-child {
	grid-column: span 3;
	text-align: center;
}
.map {
	grid-column: span 1;
}
.hero-img {
	height: 40vh;
}
.item-card:hover {
	padding: 0.2rem;
}
.item-card:hover img {
	filter: brightness(80%);
}

@media (min-width: 1280px) {
	.profile-page {
		margin-left: auto;
	}
}
