@import url('normalize.css');
@import url('vars.css');

@font-face {
	font-family: 'DM Sans';
	font-style: normal;
	font-weight: 100 1000;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/dmsans/v15/rP2Hp2ywxg089UriCZOIHQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'DM sans';
	line-height: 1.5;
	/* font-size: 0.9rem; */
}
.column-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	background: var(--main-bg);
	width: 98vw;
	min-height: 100dvh;
	margin: 0 auto;
}
body > header {
	position: sticky;
	top: 0;
	height: 5rem;
	color: var(--white);
	background-color: var(--header-bg);
	box-shadow: 0 4px 10px -2px var(--transp);
	padding: 0 1rem;
	z-index: 1;
}
body > header,
body > footer a {
	color: var(--white);
}
body > header nav {
	height: 100%;
	align-items: center;
	/* margin-top: auto; */
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
}
h1 {
	font-size: 2.2rem;
	margin: 0 auto 1.5rem;
	padding: 1rem 0;
	text-align: center;
	/* border-bottom: 1px solid var(--transp); */
}
a {
	color: var(--black);
	text-decoration: none;
}
hr {
	margin: 2rem;
	border-top: none;
}
.hero-img {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), no-repeat scroll center 25% / cover url('../assets/hero.jpg');
	height: 20vh;
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.profile-hero {
	background-color: var(--outside-bg);
	/* background: center/100% linear-gradient(20deg, #ca4246, #a7489b 60%); */
	/* background: center/100% linear-gradient(20deg, #ca424655, #a7489b55); */
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	height: 20vh;
}
.hero-img h1,
.profile-hero h1 {
	color: var(--white);
}
.profile-reviews {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.review {
	height: 100%;
}
.home {
	color: var(--white);
	text-transform: uppercase;
	font-size: 2.2rem;
	letter-spacing: -2px;
	padding: 0;
}
.home > span {
	background: var(--white);
	order: -1;
	background-clip: text;
}
.home-buttons {
	height: 100%;
	margin-right: 0;
	grid-column: 2;
}
.search-bar {
	display: none;
}
.nav-buttons {
	display: none;
	align-items: center;
	margin-left: auto;
}

.burger-menu {
	position: sticky;
	top: 5rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.2rem;
	background-color: var(--menu-bg);
	backdrop-filter: blur 2px;
}
.burger-menu a {
	padding: 0.1rem 0.5rem;
	color: var(--white);
	text-decoration: none;
}
#search-mobile {
	/* border-right: 2px solid var(--white); */
	margin-right: auto;
	height: 100%;
}
#burger-button {
	/* border-left: 2px solid var(--white); */
	margin-left: auto;
	height: 100%;
}
.item-page {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 1rem;
}
.item-image {
	width: 75vw;
	margin: 0 auto;
}
.item-page footer {
	grid-column: span 2;
}
.tracklist {
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
	margin: 0 1rem;
}
.tracklist *:not(:last-child) {
	padding: 1rem;
	width: 100%;
	border: 1px solid var(--border);
	border-radius: var(--bdr-rad);
}
.stars {
	display: inline-block;
	border: 0;
}
.stars > input {
	display: none;
}
.stars > label {
	color: var(--stars-bg);
}
.stars > label:before {
	display: inline;
	font-size: 1.8rem;
	cursor: pointer;
	font-family: FontAwesome;
	content: '\f005';
}
.stars > .half:before {
	position: absolute;
	content: '\f089';
}
.stars input:checked + label,
.stars label:has(~ input:checked) {
	color: var(--stars-checked);
}

.stars label:has(~ input:hover),
.stars input:hover + label {
	color: var(--stars-hover);
}
.contact {
	display: grid;
	max-width: 50vw;
	grid-template-columns: 1fr 1fr;
	box-shadow: var(--bx-shadow);
	padding: 1rem;
	gap: 1rem;
}
.contact-form {
	display: flex;
	flex-flow: wrap;
	flex: 0 1 auto;
	gap: 0.5rem;
}
.contact-form * {
	flex: 34%;
	border-radius: var(--bdr-rad);
}
.contact-form textarea,
.contact-form > button {
	flex: 100%;
}
.contact-info {
	flex: 0 1 auto;
	/* background: var(--menu-bg); */
}
.contact-info p {
	color: var(--extra);
}
.highlight {
	color: var(--white);
}
.form {
	justify-content: center;
	height: 80vh;
	gap: 1rem;
}
.form > * {
	width: 100%;
	max-width: 80vw;
	min-width: 360px;
}
form div {
	text-align: center;
}
.required::after {
	content: ' *';
	vertical-align: middle;
	color: #f55;
}
form button {
	margin-top: 0.2rem;
}
.form-footer {
	padding-top: 2rem;
	text-align: center;
}
.form-footer a {
	color: var(--accent);
	transition: color 250ms;
}
.form-footer a:hover {
	color: var(--accent-hover);
}
label:not(.stars *) {
	display: block;
	margin-top: 1rem;
}
input,
textarea {
	width: 100%;
	border: none;
	border-radius: var(--bdr-rad);
	padding: 0.5rem;
	resize: none;
	background: var(--button-bg);
	border: 1px solid var(--border);
}
input:focus,
textarea:focus {
	outline: none;
}
button,
input[type='submit'] {
	color: var(--black);
	background: none;
	background: var(--button-bg);
	text-wrap: nowrap;
	width: fit-content;
	border: 1px solid var(--border);
	border-radius: var(--bdr-rad);
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	transition: all 0.25s;
}
button:hover {
	background: var(--button-bg-hover);
	color: var(--white);
}
.header-button {
	background: var(--header-bg);
	color: var(--white);
	border-color: var(--white);
	transition: all 0.5s;
}
.header-button:hover {
	background: var(--white);
	color: var(--header-bg);
}

.item-catalog {
	margin: 0 auto;
	display: flex;
}
.title {
	color: var(--black);
	font-size: 1.1rem;
}
.overflow {
	display: block;
	width: auto;
	max-width: 80%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.artist {
	color: var(--accent);
	/* text-decoration: none; */
	transition: color 250ms;
}
.artist:hover {
	color: var(--accent-hover) !important;
}
.item-card {
	display: grid;
	gap: 0.5rem;
	width: 100%;
	grid-template-columns: 1fr 4fr 1fr;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	transition: scale 200ms;
}
.item-names {
	align-items: flex-start;
	grid-column: span 2;
}
.item-card div + a {
	order: -1;
	width: 8rem;
}
.item-info {
	padding: 1rem;
	grid-column: span 2;
	margin-left: auto;
	border: none;
}
.item-card div > span {
	display: none;
}
.item-card a {
	order: 1;
	grid-row: span 2;
}
.item-card img {
	vertical-align: middle;
	transition: filter 250ms;
}
.item-card footer {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}
.item-card span {
	align-content: center;
}
.profile-nav {
	display: flex;
	margin-bottom: 2rem;
}
.tabs {
	width: 100%;
	min-height: 20rem;
	border: 1px solid var(--border);
	border-top: none;
}
.profile-tab {
	display: none;
}
.profile-tab.active {
	display: flex;
	flex: 1 1 100%;
	justify-content: start;
}
.tab-button {
	flex: 1 1 0;
	outline: none;
	border-radius: 0;
	background-color: var(--white);
}
.tab-button.active {
	background-color: var(--accent);
}
.tab-button:hover:not(.active) {
	background-color: var(--accent-hover);
}
.profile-tab * {
	width: 80%;
	gap: 2rem;
	text-align: start;
}
.price + button {
	margin-left: auto;
}
.price::after {
	content: '\20AC';
}
body > footer {
	color: var(--white) !important;
	box-shadow: 0 -4px 10px -2px var(--transp);
	background-color: var(--header-bg);
	padding: 1rem;
}
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.footer > *:last-child {
	grid-column: span 3;
	text-align: center;
}
.map {
	grid-column: span 3;
}
img {
	width: 100%;
	height: auto;
}
.svg {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}
#login .login,
#register .register {
	display: none;
}
.hidden {
	display: none !important;
}
