<div>
    <form action="" method="POST" autocomplete="off">
        <div class="review-stars flex-center">
            <input type="radio" name="stars" id="1" class="stars svg" required>
            <label for="2">2 star</label>
            <input type="radio" name="stars" id="2" class="stars svg" required>
            <label for="1">1 star</label>
            <input type="radio" name="stars" id="3" class="stars svg" required>
            <label for="3">3 star</label>
            <input type="radio" name="stars" id="4" class="stars svg" required>
            <label for="4">4 star</label>
            <input type="radio" name="stars" id="5" class="stars svg" required>
            <label for="5">5 star</label>
            <!-- <input type="radio" name="stars" id="6" class="stars svg" required> 
            <label for="6">6 star</label>
            <input type="radio" name="stars" id="7" class="stars svg" required>
            <label for="7">7 star</label>
            <input type="radio" name="stars" id="8" class="stars svg" required>
            <label for="8">8 star</label>
            <input type="radio" name="stars" id="9" class="stars svg" required>
            <label for="9">9 star</label>
            <input type="radio" name="stars" id="10" class="stars svg" required>
            <label for="10">10 star</label> -->
        </div>
        <textarea name="review" cols="30" rows="10" placeholder="Write a message..."></textarea>

        <button>Send</button>
    </form>
</div>
<script src="js/stars.js"></script>