*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.button {
	border: none;
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: 0.5rem 1rem;
	text-decoration: none;
	border-radius: 1rem;
	color: gray;
	background-color: #eef;
	box-shadow: 0 10px #ccf;
}

.button:hover {
	box-shadow: 0 5px #ccf;
	transform: translateY(5px);
}
hr {
	margin: 1rem;
}
a,
input {
	text-decoration: none;
	border: none;
	color: gray;
	padding: 0.5rem;
	border-radius: 1rem;
	background-color: #eee;
	box-shadow: 0 10px 0 0 #ccc;
	&:focus {
		outline: none;
	}
}
li {
	margin: 0.75rem 0;
	width: fit-content;
}
ul {
	display: flex;
	flex-flow: wrap;
	align-items: flex-start;
	max-height: 20vh;
	list-style: none;
	margin: 1rem;
	gap: 0.1rem;
}
[readonly] {
	background: #faa;
	box-shadow: 0 10px #f77;
}
form {
	display: flex;
	flex-flow: column nowrap;
	width: 20vw;
	gap: 1rem;
}
