:root {
	--radius: 0.2rem;
	--accent: #54f;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: white;
}

body {
	background: #111;
}
main {
	min-height: 100dvh;
	max-width: 90vw;
	margin: auto;
}
.wrapper {
	display: flex;
	flex-flow: column;
	margin: 1rem;
}
ul {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between stretch;
	list-style: none;
	padding: 0.5rem;
	gap: 0.25rem;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
}
ul::after {
	content: '';
	flex-grow: 2000;
}
li {
	border: none;
	border-radius: var(--radius);
	background-color: #555;
	flex: content;
	text-align: center;
}
li > a {
	padding: 0.5rem;
	display: block;
	text-decoration: none;
}
li:hover {
	background-color: #55f;
}
.button {
	border: none;
	display: inline-block;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	margin: 0.5rem;
	text-decoration: none;
	border-radius: var(--radius);
	background-color: #999;
	box-shadow: 0 0.5rem #777;
	cursor: pointer;
}
.button:hover {
	box-shadow: 0 0.25rem #777;
	transform: translateY(0.25rem);
}
.tags {
	display: flex;
	flex-flow: wrap;
	margin: 1rem;
	gap: 0.25rem;
}
.tags::after {
	content: '';
	flex-grow: 2000;
}
.tag {
	padding: 0.25rem;
	background-color: #333;
	color: #999;
	flex: content;
	text-align: center;
}
.tag a {
	color: #777;
	vertical-align: middle;
	font-weight: bold;
}
a {
	text-align: center;
	text-decoration: none;
}
label {
	text-transform: uppercase;
	font-size: 0.8rem;
}
input {
	margin: 0.75rem 0;
	border: none;
	padding: 0.5rem;
	border-radius: var(--radius);
	background-color: #555;
	/* color: var(--accent); */
	/* box-shadow: 0 0.25rem 0 0 #ccc; */
}
input:focus {
	outline: none;
	background: var(--accent);
}
hr {
	border: 0;
	border-top: 1px solid #ddd;
	margin: 1em;
}
form {
	align-items: flex-start;
	display: flex;
	flex-flow: column nowrap;
}
[readonly] {
	background: #faa;
	/* box-shadow: 0 0.25rem #f77; */
	cursor: not-allowed;
	color: #111;
	text-transform: uppercase;
}
[readonly]:hover {
	background: #e55;
}
.tab {
	background-color: #333;
	margin: 0.5rem 0;
	border-radius: var(--radius);
	border: 1px solid #999;
}
.tab h1 {
	color: var(--accent);
}
.tab header {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	border-bottom: 1px solid #999;
}
fieldset {
	border: none;
	display: grid;
	width: 50%;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
select {
	color: #111;
}
option {
	color: #111;
}

.save {
	background: #9d6;
	box-shadow: 0 0.5rem #8c4;
	text-transform: uppercase;
}
.save:hover {
	background: #8c4;
	box-shadow: 0 0.25rem #3c0;
}

.cancel {
	background: #fa7;
	box-shadow: 0 0.5rem #e95;
	text-transform: uppercase;
}
.cancel:hover {
	background: #e95;
	box-shadow: 0 0.25rem #f85;
}

.delete {
	background: #f77;
	box-shadow: 0 0.5rem #e55;
	text-transform: uppercase;
}
.delete:hover {
	background: #e55;
	box-shadow: 0 0.25rem #e22;
}
